{% extends "base_generic.html" %}

{% block content %}

<div id="content_container" class="page_defs">
  <h1 style="text-align:center; padding: 5%">Conference Championship Weekend</h2>

<table align="center" width=70%>
  <tr>
  <th width=5%> Game</th>
  <th width=20%> Team</th>
  <th width=10%> Spread</th>
  <th width=5%> Value</th>
  <th width=10%> </th>
  <th width=5%> Game</th>
  <th width=20%> Team</th>
  <th width=10%> Spread</th>
  <th width=5%> Value</th>
  </tr>

  <tr>
  <td width=5%> 9</td>
  <td width=20%> Baltimore Ravens</td>
  <td width=10%> -7</td>
  <td width=5%> </td>
  <td width=10%> </td>
  <td width=5%> 10</td>
  <td width=20%> New Orleans Saints</td>
  <td width=10%> -3</td>
  <td width=5%> </td>
  </tr>

  <tr>
  <td width=5%> </td>
  <td width=20%> Kansas City Chiefs</td>
  <td width=10%> </td>
  <td width=5%> </td>
  <td width=10%> </td>
  <td width=5%> </td>
  <td width=20%> SanFrancisco 49ers</td>
  <td width=10%> </td>
  <td width=5%> </td>
  </tr>

  <tr>
  <td width=5% height=30> </td>
  <td width=20%> </td>
  <td width=10%> </td>
  <td width=5%> </td>
  <td width=20%> </td>
  <td width=10%> </td>
  </tr>

</table>
</div>
{% endblock %}
