{% extends "base_generic.html" %}

{% block content %}
<div id="content_container" class="page_defs">
  <form>
    <div class="ladder-grid-container">
      <div class="ladder-grid-item gameblock" style="--cs: 1; --ce: 2; --rs: 1; --re: 3; --bc: navy;">AFC First Seed Baltimore</div>

      <div class="ladder-grid-item gameblock" style="--cs: 1; --ce: 2; --rs: 5; --re: 7; --bc: navy;">
        Game 1
        <div class="radio">
          <label class="radio-inline"><input type="radio" name="game1_radio"> Houston</label>
          <label class="radio-inline"><input type="radio" name="game1_radio"> Buffalo</label>
        </div>
      </div>

      <div class="ladder-grid-item topright1" style="--cs: 2; --ce: 3; --rs: 2; --re: 3; --bc: lightgrey;"></div>
      <div class="ladder-grid-item horline1" style="--cs: 3; --ce: 4; --rs: 2; --re: 3; --bc: lightgrey;"></div>
      <div class="ladder-grid-item horline2" style="--cs: 3; --ce: 4; --rs: 5; --re: 6; --bc: lightgrey;"></div>
      <div class="ladder-grid-item bottomright1" style="--cs: 2; --ce: 3; --rs: 5; --re: 6; --bc: lightgrey;"></div>

      <div class="ladder-grid-item gameblock" style="--cs: 1; --ce: 2; --rs: 8; --re: 10; --bc: navy;">
        Game 2
        <div class="radio">
          <label class="radio-inline"><input type="radio" name="game2_radio"> Kansas City</label>
          <label class="radio-inline"><input type="radio" name="game2_radio"> Tennessee</label>
        </div>
      </div>

      <div class="ladder-grid-item topright1" style="--cs: 2; --ce: 3; --rs: 9; --re:10; --bc: lightgrey;"></div>
      <div class="ladder-grid-item horline1" style="--cs: 3; --ce: 4; --rs: 9; --re: 10; --bc: lightgrey;"></div>
      <div class="ladder-grid-item horline2" style="--cs: 3; --ce: 4; --rs: 12; --re: 13; --bc: lightgrey;"></div>
      <div class="ladder-grid-item bottomright1" style="--cs: 2; --ce: 3; --rs: 12; --re: 13; --bc: lightgrey;"></div>

      <div class="ladder-grid-item gameblock" style="--cs: 1; --ce: 2; --rs: 12; --re: 14; --bc: navy;">
        AFC Second Seed New England</div>


      <div class="ladder-grid-item gameblock" style="--cs: 1; --ce: 2; --rs: 16; --re: 18; --bc: navy;">
        NFC First Seed San Francisco</div>
      <div class="ladder-grid-item gameblock" style="--cs: 1; --ce: 2; --rs: 20; --re: 22; --bc: navy;">
        Game 3
        <div class="radio">
          <label class="radio-inline"><input type="radio" name="game3_radio"> Seattle</label>
          <label class="radio-inline"><input type="radio" name="game3_radio"> Philidelphia</label>
        </div>
      </div>
      <div class="ladder-grid-item topright1" style="--cs: 2; --ce: 3; --rs: 17; --re: 18; --bc: lightgrey;"></div>
      <div class="ladder-grid-item horline1" style="--cs: 3; --ce: 4; --rs: 17; --re: 18; --bc: lightgrey;"></div>
      <div class="ladder-grid-item horline2" style="--cs: 3; --ce: 4; --rs: 20; --re: 21; --bc: lightgrey;"></div>
      <div class="ladder-grid-item bottomright1" style="--cs: 2; --ce: 3; --rs: 20; --re: 21; --bc: lightgrey;"></div>


      <div class="ladder-grid-item gameblock" style="--cs: 1; --ce: 2; --rs: 23; --re: 25; --bc: navy;">
        Game 4
        <div class="radio">
          <label class="radio-inline"><input type="radio" name="game4_radio"> New Orleans</label>
          <label class="radio-inline"><input type="radio" name="game4_radio"> Minnesota</label>
        </div>
      </div>

      <div class="ladder-grid-item gameblock" style="--cs: 1; --ce: 2; --rs: 27; --re: 29; --bc: navy;">
        NFC Second Seed Green Bay</div>

      <div class="ladder-grid-item topright1" style="--cs: 2; --ce: 3; --rs: 24; --re: 25; --bc: lightgrey;"></div>
      <div class="ladder-grid-item horline1" style="--cs: 3; --ce: 4; --rs: 24; --re: 25; --bc: lightgrey;"></div>
      <div class="ladder-grid-item horline2" style="--cs: 3; --ce: 4; --rs: 27; --re: 28; --bc: lightgrey;"></div>
      <div class="ladder-grid-item bottomright1" style="--cs: 2; --ce: 3; --rs: 27; --re: 28; --bc: lightgrey;"></div>


      <div class="ladder-grid-item gameblock" style="--cs: 4; --ce: 5; --rs: 2; --re: 6; --bc: navy;">
        AFC Division Sat Game 5
        <div class="radio">
          <label class="radio-inline"><input type="radio" name="game5_radio"> Baltimore</label>
          <label class="radio-inline"><input type="radio" name="game5_radio"> Lowest Seed</label>
        </div>
      </div>

      <div class="ladder-grid-item topright1" style="--cs: 5; --ce: 6; --rs: 5; --re: 6; --bc: lightgrey;"></div>
      <div class="ladder-grid-item horline1" style="--cs: 6; --ce: 7; --rs: 5; --re: 6; --bc: lightgrey;"></div>
      <div class="ladder-grid-item horline2" style="--cs: 6; --ce: 7; --rs: 9; --re: 10; --bc: lightgrey;"></div>
      <div class="ladder-grid-item bottomright1" style="--cs: 5; --ce: 6; --rs: 9; --re: 10; --bc: lightgrey;"></div>


      <div class="ladder-grid-item gameblock" style="--cs: 4; --ce: 5; --rs: 9; --re: 13; --bc: navy;">
        AFC Division Sun Game 6
        <div class="radio">
          <label class="radio-inline"><input type="radio" name="game6_radio"> New England</label>
          <label class="radio-inline"><input type="radio" name="game6_radio"> Highest Seed</label>
        </div>
      </div>

      <div class="ladder-grid-item gameblock" style="--cs: 4; --ce: 5; --rs: 17; --re: 21; --bc: navy;">
        NFC Division Sat Game 7
        <div class="radio">
          <label class="radio-inline"><input type="radio" name="game7_radio"> San Francisco</label>
          <label class="radio-inline"><input type="radio" name="game7_radio"> Lowest Seed</label>
        </div>
      </div>

      <div class="ladder-grid-item topright1" style="--cs: 5; --ce: 6; --rs: 20; --re: 21; --bc: lightgrey;"></div>
      <div class="ladder-grid-item horline1" style="--cs: 6; --ce: 7; --rs: 20; --re: 21; --bc: lightgrey;"></div>
      <div class="ladder-grid-item horline2" style="--cs: 6; --ce: 7; --rs: 24; --re: 25; --bc: lightgrey;"></div>
      <div class="ladder-grid-item bottomright1" style="--cs: 5; --ce: 6; --rs: 24; --re: 25; --bc: lightgrey;"></div>

      <div class="ladder-grid-item gameblock" style="--cs: 4; --ce: 5; --rs: 24; --re: 28; --bc: navy;">
        NFC Division Sun Game 8
        <div class="radio">
          <label class="radio-inline"><input type="radio" name="game8_radio"> Green Bay</label>
          <label class="radio-inline"><input type="radio" name="game8_radio"> Highest Seed</label>
        </div>
      </div>

      <div class="ladder-grid-item gameblock" style="--cs: 7; --ce: 8; --rs: 5; --re: 10; --bc: navy;">
      <p>AFC Championship Game 9<br>
      Division Winners</p>
    </div>
      <div class="ladder-grid-item gameblock" style="--cs: 7; --ce: 8; --rs: 25; --re: 20; --bc: navy;">
        <p>NFC Championship Game 10<br>
        Division Winners</p>
    </div>

    <div class="ladder-grid-item topright1" style="--cs: 8; --ce: 9; --rs: 7; --re: 13; --bc: lightgrey;"></div>
    <div class="ladder-grid-item horline1" style="--cs: 9; --ce: 10; --rs: 7; --re: 13; --bc: lightgrey;"></div>
    <div class="ladder-grid-item horline2" style="--cs: 9; --ce: 10; --rs: 17; --re: 22; --bc: lightgrey;"></div>
    <div class="ladder-grid-item bottomright1" style="--cs: 8; --ce: 9; --rs: 17; --re: 22; --bc: lightgrey;"></div>


      <div class="ladder-grid-item gameblock" style="--cs: 10; --ce: 11; --rs: 9; --re: 21; --bc: navy;">
        <p>Superbowl Game 11<br>
        Conference Champions</p>
      </div>


    </div>
  </form>
<div>

{% endblock %}
