<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/post_season.css" rel="stylesheet">
  </head>

  <body>



    <div id='da_sidebar'>
  <ul class="list-group list-group-game">

      <li class="list-group-item list-group-item-game">Login Page</li>
      <li class="list-group-item list-group-item-game">Leader Board</li>
      <li class="list-group-item list-group-item-game">Wildcard Games</li>
      <li class="list-group-item list-group-item-game">Division Championships</li>
      <li class="list-group-item list-group-item-game">Conference Championships</li>
      <li class="list-group-item list-group-item-game">Superbowl</li>

      <li class="list-group-item list-group-item-game">Ladder</li>

  </ul>
</div>

<div id="content_container" class="page_defs">
  <h1 style="text-align:center; padding: 5%">Superbowl Weekend</h2>

<table align="center" width=50%>
  <tr>
  <th width=10%> Game</th>
  <th width=20%> AFC</th>
  <th width=20%> NFC</th>
  <th width=10%> Spread</th>
  <th width=5%> Value</th>
  </tr>

  <tr>
  <td width=5% align="center"> 11</td>
  <td width=25%> Baltimore Ravens</td>
  <td width=25%> San Francisco 49er</td>
  <td width=10%> -3</td>
  <td width=5%> </td>
  </tr>

  <tr>
  <td width=5% height=30> </td>
  <td width=20%> </td>
  <td width=10%> </td>
  <td width=5%> </td>
  <td width=20%> </td>
  <td width=10%> </td>
  </tr>

</table>
</div>

<div class="container" style="margin-top:  40px">
<table align="center" width=25%, padding=15px>
  <tr>
    <th>Seed</th>
    <th>NFC Seeds</th>
    <th>AFC Seeds</th>
  </tr>
  <tr><td align="center">1</td><td td style="text-decoration: line-through; text-decoration-style:double;text-decoration-color: red">Seattle</td><td>Baltimore</td></tr>
  <tr><td align="center">2</td><td td style="text-decoration: line-through; text-decoration-style:double;text-decoration-color: red">Green Bay</td><td td style="text-decoration: line-through; text-decoration-style:double;text-decoration-color: red">New England</td></tr>
  <tr><td align="center">3</td><td td td style="text-decoration: line-through; text-decoration-style:double;text-decoration-color: red">Green Bay</td><td td style="text-decoration: line-through; text-decoration-style:double;text-decoration-color: red">New_Orleans</td></tr>
  <tr><td align="center">4</td><td style="text-decoration: line-through; text-decoration-style:double;text-decoration-color: red">Dallas</td><td td style="text-decoration: line-through; text-decoration-style:double;text-decoration-color: red">Houston</td></tr>
  <tr><td align="center">5</td><td style="text-decoration: line-through; text-decoration-style:double;; text-decoration-color: red">Minnesota</td><td style="text-decoration: line-through; text-decoration-style:double; text-decoration-color: red">Pittsburgh</td></tr>
  <tr><td align="center">6</td><td>San Francisco</td><td style="text-decoration: line-through; text-decoration-style:double; text-decoration-color: red">Buffalo</td></tr>
</table>
<div>



  </body>
</html>
