{% extends "base_generic.html" %}

{% block content %}

<div id="content_container" class="page_defs">
<h1 align="center">Wildcard Games</h1>


<table align="center" width=70%>
  <tr>
    <td>Game</td>
    <td>Home</td>
    <td>Away</td>
    <td>Dog</td>
    <td>Spread</td>
  </tr>

  {% for game in games_dict %}
  <tr>
    <td>{{ game.game_num}}</td>
    <td>{{ game.home }}</td>
    <td>{{game.away}}</td>
    <td>{{game.dog}}</td>
    <td>{{game.spread}}</td>
  </tr>
  {% endfor %}

</table>


</div>
{% endblock %}
