{% extends "base_generic.html" %}

{% block content %}

<div id="content_container" class="page_defs">
<h1 align="center">Wildcard Games</h1>

{% for game in games_dict %}
<p>game: {{game.favstr}}</p>
{% endfor %}

<table align="center" width=70%>
  <tr>
    <th>Game</th>
    <th>Home</th>
    <th>Away</th>
    <th>Spread</th>
    <th>Favorite</th>
    <th>Dog</th>
  </tr>

  {% for game in games_dict %}
  <tr>{{ spread_str.favstr}}</tr>
  <tr>
    <td>{{ game.game_num}}</td>
    <td>{{ game.home }}</td>
    <td>{{game.away}}</td>
    <td>{{game.spread}}</td>
    <td>{{spread_str.favstr}}</td>
    <td>{{spread_str.dogstr}}</td>
  </tr>
  {% endfor %}

</table>


</div>
{% endblock %}
