{% extends "base_generic.html" %}

{% block content %}

<div id="content_container" class="page_defs">
  <h1 style="text-align:center; padding: 5%">Wild Card Weekend</h2>

<table align="center" width=70%>
  <tr>
  <th width=5%> Game</th>
  <th width=20%> Team</th>
  <th width=10%> Spread</th>
  <th width=5%> Value</th>
  <th width=10%> </th>
  <th width=5%> Game</th>
  <th width=20%> Team</th>
  <th width=10%> Spread</th>
  <th width=5%> Value</th>
  </tr>

  <tr>
  <td width=5%> 1</td>
  <td width=20%> New England Patriots</td>
  <td width=10%> -7</td>
  <td width=5%> </td>
  <td width=10%> </td>
  <td width=5%> 3</td>
  <td width=20%> New Orleans Saints</td>
  <td width=10%> -3</td>
  <td width=5%> </td>
  </tr>

  <tr>
  <td width=5%> </td>
  <td width=20%> Tennessee Titans</td>
  <td width=10%> </td>
  <td width=5%> </td>
  <td width=10%> </td>
  <td width=5%> </td>
  <td width=20%> Minnesta Vikings</td>
  <td width=10%> </td>
  <td width=5%> </td>
  </tr>

  <tr>
  <td width=5% height=30> </td>
  <td width=20%> </td>
  <td width=10%> </td>
  <td width=5%> </td>
  <td width=20%> </td>
  <td width=10%> </td>
  </tr>

  <tr>
  <td width=5%> 3</td>
  <td width=20%> Seattle Seahawks</td>
  <td width=10%> +3</td>
  <td width=5%> </td>
  <td width=10%> </td>
  <td width=5%> 4</td>
  <td width=20%> Houston Texans</td>
  <td width=10%> -5.5</td>
  <td width=5%> </td>
  </tr>

  <tr>
  <td width=5%> </td>
  <td width=20%> Philadelphia Eagles</td>
  <td width=10%> </td>
  <td width=5%> </td>
  <td width=10%> </td>
  <td width=5%> </td>
  <td width=20%> Buffalo Bills</td>
  <td width=10%> </td>
  <td width=5%> </td>
  </tr>
</table>
</div>
{% endblock %}
